<!-- side nav bar -->
<div class="sidenav vh-100" id="navbar">
    <div class="logo p-2 h3">
        <i class='bx bx-unite p-2' ></i> StudyHall 
    </div>
    <!-- nav links -->
    <div id="nav-link" class="nav-link p-2 m-2 h5">
        <a href="#"><i class='bx bx-home-circle p-2'></i> Home</a>
    </div>
    <div id="nav-link" class="nav-link p-2 m-2 h5">
        <a href="#"><i class='bx bx-calendar-event p-2'></i> Live Schedules</a>
        </div>
    <div id="nav-link" class="nav-link p-2 m-2 h5">
        <a href="#"><i class='bx bx-compass p-2'></i> Explore</a>
    </div>
    <div id="nav-link" class="nav-link p-2 m-2 h5">
        <a href="#"><i class='bx bx-library p-2'></i> Library</a>
    </div>
        
</div>